{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Blog" %}

{% block content %}
	<div class="blog-header">
		<h3>Tjejer Kodar Blog</h3>
		<h1>A catchy line so you to read further</h1>
	</div>

	<div class="blog-entries">
		<div class="categories">
			<a href="{{ url('news') }}"><h3>All</h3></a>
		{% nav cat in craft.categories.group('blogPosts') %}
			<a href="{{ cat.url }}" {% if category.url == cat.url %} class="active" {% endif %}><h3>{{ cat.title }}</h3></a>
		{% endnav %}
		</div>

		<div class="entry-listing pure-g">
		{% for entry in craft.entries.section('news').relatedTo(category).find() %}
			<article class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3 entry">
			{% if entry.heroImage | length %}
				{% for image in entry.heroImage %}
				<div class="">
					<div class="hero-image" style="background-image: url({{ image.getUrl() }});">
					</div>
				{% endfor %}
			{% endif %}

					<a href="{{ entry.url }}"><h3>{{ entry.title }}</h3></a>
				</div>

			</article>
		{% endfor %}
		</div>

		<div class="contact pure-g">
			<h3 class="pure-u-1 pure-u-sm-1-2">
				Let me know when next blog post is out
			</h3>
			<div class="a-right pure-u-1 pure-u-sm-1-2">
				<a class="square-button" href="mailto:hello@hornstullhack.se">Subscribe</a>
			</div>
		</div>

	</div>

	<div class="writers">
	

		<h1>We write for Tjejer Kodar</h1>
		<div class="all-authors pure-g">

		{% for author in craft.users %}
			<div class="author-wrap pure-u-1-2 pure-u-sm-1-4 pure-u-lg-1-7">
				<div class="author" style="background-image:url({{ author.photoUrl(84) }});" >
				</div>
				<h3>
					{{author.fullName}}
				</h3>
			</div>

		{% endfor %}
		</div>

	</div>
{% endblock %}
