.blog-entry {
	max-width: 1120px;
	margin: auto;
	text-align: center;
	margin-bottom: 40px;
	padding: 80px 40px;

	a {
		text-decoration: none;
		color: $primary;
		
	}

	.background {
		padding: 40px 20px;
		background-color: #b6ffea;
		color: $primary;

	}

	.featured-image {
		background-size: cover;
		max-height: 430px;
		
		&:after {
			content: "";
			padding-top: 100%;
			display: block;

		}

	}

}