.camp {
	text-align: center;
	padding: 80px 40px;
	background-color: $grey;

	h1 {
		color: black;
		line-height: 1.2;
		max-width: 650px;
		margin: auto;
		margin-bottom: 16px;

	}

	a {
		color: $compliment;
	}

}