.team {
	position: relative;

	.logo {
		background-image: url(../../image/fejklogo.png);
		background-repeat: no-repeat;
		background-size: 100% auto;
		width: 150px;
		height: 150px;
		position: absolute;
		z-index: 1;
		top: 50%;
		margin-top: -75px;
		left: 50%;
		margin-left: -75px;
	}

	.thumb {
		background-size: cover;
		background-position: center;
		position: relative;

		p {
				color: white;
				margin: 0;
				text-transform: uppercase;
			}

		h3 {
			color: $primary;
		} 

		&:before {
			content: "";
			display: block;
			padding-bottom: 100%;
			background-color: black;
			opacity: 0.5;
		}

		.teamcaption {
			text-align: center;
			position: absolute;
			top: 50%;
			margin-top: -49px;
			opacity: 0;
			width: 100%;

		}

		&:hover {
			.teamcaption {
				opacity: 1;
				transition: opacity 0.2s ease-in; 
			}

			&:before {
				opacity: 0.8;
				transition: opacity 0.2s ease-in;

			}
		}

		.helpout {
			position: absolute;
			top: 50%;
			margin-top: -49px;
			text-align: center;
			width: 100%;

			p {
				color: $primary;
				a{
					color: $primary;
					text-decoration: none;
					border-bottom: 2px solid $primary;
					padding-bottom:2px;
				}
			}

			h3 {
				color: $primary;
			}
		}

	}

	.wood {
		background-color: $primary;
		}

	.paint {
		background-color: $secondary;
	}

	.rock {
		background-color: $compliment;
	}
	
}