{#
 # Palma template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

	{% cache for 1 hour %}

	<div class="content">
		<div class ="text-wrapper">
			<h1 class="hero-text">
				{{ entry.heroTitle }}
			</h1>

			<p>
				In October, 20 women were challenged to learn the basics of JavaScript and React during a weekend in London. The goal was to finish 20 To-do applications made in React – Everyone finished! The weekend was made together with the team @iZettle. 
			</p>
		</div>
	</div>

	<div class="images pure-g">
		{% set images = entry.img %}
		{% if images | length %}
			{% for image in images %}
			<div class="image pure-u-1-2 pure-u-sm-1-4"
			style="background-image:url({{ image.getUrl('thumb300') }});">
			</div>
			{% endfor %}
		{% endif %}
	</div>

	<div class="content">
		<div class ="text-wrapper">

			{{ entry.body }}

		</div>
	</div>
	{% endcache %}

<!--
	<div class="courses-block">
		<h3>
			Our courses
		</h3>
		<div class="card-wrapper">
			<div class="l-box card">
        		<div class="card-head">
        			<div class="card-description">

		                <h3>
		                    To be announced
		                </h3>
	            	</div>
        		</div>
            </div>

            <div class="l-box card">
        		<div class="card-head">
        			<div class="card-description">
		                <h3>
		                    To be announced
		                </h3>
	            	</div>
        		</div>
            </div>

            <div class="l-box card">
        		<div class="card-head">
        			<div class="card-description">
                		<h3>
		                    To be announced
		                </h3>
	            	</div>
        		</div>
            </div>

            <div class="l-box card">
        		<div class="card-head">
        			
        			<div class="card-description">
		                <h3>
		                    Want to teach a class?
		                </h3>
	            	</div>
        		</div>
            </div>

		</div>
	</div>

-->

	

	<div class="newsletter">
		<h1>
			Get information about our camps
		</h1>
		<p>
			Sign up to our newsletter to get information about upcoming camps and events.
		</p>
		<a class=" pure-button pure-button-primary" href="http://eepurl.com/bHKVMH">Keep me updated</a>
	</div>

	<div class="team pure-g">

		<div class="logo">

		</div>

		{% cache for 1 hour %}
		
		{% set counter = 0 %}

		{% for member in craft.entries.section('team') %}


<!-- kollar om det finns någon asset om den gör det så skriver den ut bilden i style -->
		<div class="thumb pure-u-1-2 pure-u-sm-1-3 pure-u-lg-1-6"

			{% if member.img | length %}
    			{% for asset in member.img %}
        			style="background-image:url({{ asset.url }});"
    			{% endfor %}
			{% endif %}
		>

			<div class="teamcaption">
				<h3>{{ member.title }}</h3>
				<p>{{ member.workTitle }}</p>
				<p>{{ member.email }}</p>
			</div>
			
		</div>

		{% set counter = counter + 1 %}

		{% if counter == 5 %}
			
				<div class="thumb wood pure-u-1-2 pure-u-sm-1-3 pure-u-lg-1-6">
					<div class="helpout">
						<h3>Want to help out?</h3>
						<p><a href="mailto:hello@hornstullhack.se">Drop us a line</a></p>
					</div>
				</div>

			{% endif %}

		{% endfor %}

		{% endcache %}

	</div>

<!--
	<div class="content-wrapper">

	    <div class="ribbon l-box-lrg pure-g">
	        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
	           
	           <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>
	            <p>
	                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	                consequat. Duis aute irure dolor.
	            </p>
	        </div>
	        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

	            <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

	            <p>
	                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	                consequat. Duis aute irure dolor.
	            </p>
	        </div>
	    </div>

	    <div class="content">
	        <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

	        <div class="pure-g">
	            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
	                <form class="pure-form pure-form-stacked">
	                    <fieldset>

	                        <label for="name">Your Name</label>
	                        <input id="name" type="text" placeholder="Your Name">


	                        <label for="email">Your Email</label>
	                        <input id="email" type="email" placeholder="Your Email">

	                        <label for="password">Your Password</label>
	                        <input id="password" type="password" placeholder="Your Password">

	                        <button type="submit" class="pure-button">Sign Up</button>
	                    </fieldset>
	                </form>
	            </div>
	        -->

	        
	        </div>

    	</div>
    <!--
	<h1>Sandra {{ entry.title }}</h1>

	<div class="pure-g">
		{% if entry.img | length %}
		    {% for asset in entry.img %}
		      <div class="pure-u-1-3 thumb" style="background-image:url({{ asset.url }});"/></div>
		    {% endfor %}
		{% endif %}
	</div>

	{{ entry.body }}

	<h2>Recent News</h2>
	<ul>
		{% for entry in craft.entries.section('news').limit(5).find() %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		{% endfor %}
	</ul>

-->
{% endblock %}
